.navbar {
  background: lightcoral; }
  .navbar .btn {
    color: red;
    font-weight: bold; }
  .navbar .navbar-brand {
    color: darkred; }

.nav-pills {
  background: lightcoral; }
  .nav-pills .nav-item {
    background: lightcoral; }
    .nav-pills .nav-item .btn {
      color: darkred; }
    .nav-pills .nav-item .active {
      background: coral; }

.jumbotron {
  background: lightpink;
  color: coral; }

body {
  background: #f9f8fc; }

.user_name_text {
  color: coral; }

.console .card-header {
  background: green;
  color: floralwhite;
  font-size: larger;
  font-weight: bold; }

.music .card-header {
  background: pink;
  color: floralwhite;
  font-size: larger;
  font-weight: bold; }

.cinema .card-header {
  background: #43afda;
  color: floralwhite;
  font-size: larger;
  font-weight: bold; }
