$background-light: lightcoral;
$background-neutral:coral;
$background-xlight: lightpink;
$background-xlight2: #f9f8fc;
$text-dark: darkred;
$text-imp: red;

@mixin card-header-style($color){
    background:$color;
    color:floralwhite;
    font-size: larger;
    font-weight: bold;
}
.navbar{
    background: $background-light;
    .btn{
        color: $text-imp;
        font-weight:bold;
    }
    .navbar-brand{
        color:$text-dark;
    }
}

.nav-pills{
    background: $background-light;
    .nav-item{
        .btn{
            color:$text-dark;
        }
        .active{
            background:$background-neutral;
        }
        background:$background-light;
    }
}

.jumbotron{
    background: $background-xlight;
    color:$background-neutral;
}
body{
    background: $background-xlight2;
}

.user_name_text{
    color:$background-neutral;
}

.console{
    .card-header{
        @include card-header-style(green);
    }
}

.music{
    .card-header{
        @include card-header-style(pink);
    }
}

.cinema{
    .card-header{
        @include card-header-style(rgb(67, 175, 218));
    }
}